




.slider{
    margin: 0 auto;
    width: 1600px;
    height: 1200px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;
}